<!DOCTYPE html>
<html>
<head>
    <script async src="https://huningxin.github.io/opencv.js/build/asm.js/opencv.js" onload="opencvIsReady()"></script>
    <title>Hand Gesture Recognition</title>
</head>
<body>
<h1>Hand Tracking and Gesture Recognition</h1>
{#    <img src="{{ url_for('camera_feed') }}">#}

<img id="canvasOutput" src=""></img>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<script>
    const video = document.getElementById('video');
    const actionBtn = document.getElementById('actionBtn');
    width = 300;
    height = 225;
    const FPS = 22;
    let stream;
    let streaming = false;

    function startCamera() {
        if (streaming) return;
        navigator.mediaDevices.getUserMedia({video: true, audio: false})
            .then(function (s) {
                video.srcObject = s;
            })
            .catch(function (err) {
                console.log("An error occured! " + err);
            });

        video.addEventListener("canplay", function (ev) {
            if (!streaming) {
                height = video.videoHeight / (video.videoWidth / width);
                video.setAttribute("width", width);
                video.setAttribute("height", height);
                streaming = true;
                vc = new cv.VideoCapture(video);
            }
        }, false);
    }

    const getFrame = () => {
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);
        return canvas.toDataURL('image/png');
    }

    function opencvIsReady() {
        console.log('OpenCV.js is ready');
        startCamera();
    }

    $(function () {
        setInterval(() => {
            if (streaming) {
                $.ajax({
                    url: '/process',
                    data: {"data": getFrame()},
                    type: 'POST',
                    success: function (response) {
                        const canvas = document.getElementById('canvasOutput');
                        canvas.setAttribute("src", response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }, 2);
    });

</script>

</body>
</html>